body
{
    background: url(../Images/recipeImages/silverware.jpg);
    color: #404040;
    font-size: 11pt;
    font-family: Georgia,Garamond,Arial, Helvetica, sans-serif;
}
.center
{
    text-align: center;
}
header h1{
    font-size: 22pt;
    letter-spacing:  0.25em;
}
h3
{
    font-size:  18pt;
    letter-spacing:  0.25em;
}
.defaulttitle
{
    color: #A4A400;
    text-decoration: underline;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial;
}
.defaulttitle span
{
    background-color: #F0F0F0;
}
.boldspan
{
    font-weight: bold;
}
section .usercomment 
{
    background-color: #FFFFA8;
    padding: 10px 13px;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
}

.linkssection a
{
    color: #A4A400;
}
.linkssection p 
{
    margin: 0;
}
footer
{
    text-align: right;
}
.strikeout
{
    text-decoration: line-through;
}
ul
{
    list-style-image: url('../Images/recipeImages/pie_bullet.png');

}