body
{
    background-color: rgb(59, 52, 52);
    color: white;
}
.georgiafamily
{
    font-family: cursive;    
}
.skybluecolor
{
    color:skyblue;
}
.yellow
{
    color: yellow;
}
.boldtext
{
    font-weight: bold;
}
.tomatored
{
    color: tomato;
}
.equalsizedimg
{
    width: 400px;
    height: 400px;
}
.bigsize
{
    font-size: 28px;
}
.italicfont
{
    font-style: italic;
}
.centertext
{
    text-align: center;
}

.myfavoritemovies a
{
    text-decoration: none;
    
}
.myfavoritemovies a:hover
{
    text-decoration: underline;
}

p:first-letter {
    font-size: 20px;
}
.myfavoritemovies ol
{
        transform: rotate(180deg);
        margin-left: 30px;
}
.myfavoritemovies ol li
{
    transform: rotate(-180deg);
}


.myfavoritemovies .movieinfolist
{
    list-style-type: none;
}
.myfavoritemovies .movieinfolist 
{
    margin: 0;
    padding: 0;
}
.myfavoritemovies li
{
    margin-bottom: 10px;
}
.myfavoritemovies .movieinfolist p
{
    color: yellow;
    margin: 0;
}
.myfavoritemovies .movieinfolist span
{
    margin-left: 20px;
}