body
{
    background-color: rgb(59, 52, 52);
    color: white;
}
.georgiafamily
{
    font-family: cursive;    
}
.skybluecolor
{
    color:skyblue;
}
.yellow
{
    color: yellow;
}
.boldtext
{
    font-weight: bold;
}
.tomatored
{
    color: tomato;
}
.equalsizedimg
{
    width: 400px;
    height: 400px;
}
.bigsize
{
    font-size: 28px;
}
.italicfont
{
    font-style: italic;
}
.centertext
{
    text-align: center;
}

.myfavoritemovies a
{
    
}